@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  background: #045542;
}

.container {
  max-width: 42rem;
}
.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__title {
  font-size: 2.6rem;
  padding: 1rem;
  text-align: center;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  background: #0e8181;
  margin-bottom: 3rem;
  font-weight: 500;
  -webkit-box-shadow: 0 0.2rem 0.8rem 0.2rem #000000;
          box-shadow: 0 0.2rem 0.8rem 0.2rem #000000;
}
@media (max-width: 767.98px) {
  .main__title {
    font-size: 2rem;
    padding: 0.7rem;
  }
}
.main__content {
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.2rem 0.8rem 0.2rem #000000;
          box-shadow: 0 0.2rem 0.8rem 0.2rem #000000;
  padding: 4rem;
  background: #621919;
  color: #fff;
  margin-bottom: 2rem;
}
@media (max-width: 767.98px) {
  .main__content {
    padding: 2rem;
  }
}

.quote-text {
  margin-bottom: 2rem;
}

.quote {
  font-style: italic;
  font-weight: 200;
  line-height: 2.5rem;
}

.person::before {
  content: "-";
}

#generate {
  background: rgba(232, 32, 6, 0.7882352941);
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0.1rem #000000;
          box-shadow: 0 0.1rem 0.6rem 0.1rem #000000;
}
#generate:active {
  background-color: #000000;
}
@media (min-width: 767.98px) {
  #generate:hover {
    background-color: #000000;
  }
}